*{
	margin: 0px;
	padding:0px;
	border: none;
	outline: none;
	text-decoration: none;
	box-sizing: border-box;
	list-style-type: none;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.left{
	float: left;
}
.right{
	float: right;
}
.clearfix{
	display: block;
	clear: both;
}
.pding-tb{
	padding: 5px 0px;
}
img{width: 35%;}

/*======================
		.topLogo
======================*/
.topLogo{
	padding: 20px 15px;
	width: 100%;
}
.topLogo .clintLogo{
	width: 33.33333333333333%;
}
.topLogo .examLogo{
	width: 33.33333333333333%;
	text-align: center;
}
.topLogo .examLogo h3{
	margin: 0px;
	font-size: 120%;
}
.topLogo .ddiLogo{
	width: 33.33333333333333%;
	text-align: right;
}
.box-shadow{
	box-shadow:0px 0px 5px #656565;
}
.text-center{
	text-align: center;
}
.text-right{
	text-align: right;
}
.border-btm{
	border-bottom: 1px solid #B4B4B4;
}


/*===============================
		LOGIN FORM
=================================*/
.body-color{
	background-color: #0183B3;
}
.bg-white{
	background-color: #FFFFFF;
}
.candidate-img{
	width: 30%;
	margin: 20px;
	background-color: #DDDDDD;
	padding: 30px;
	border:1px solid #FFFFFF; 
	box-shadow: 3px 3px 20px #646464;
	border-radius: 15px;
	float: left;
	text-align: center;
}.candidate-img h4{
	text-align: left;
	margin-bottom: 10px;
}
.candidate-img img{
	width: 44%;
	display: inline-block;
	border: 1px solid #444444;
	margin:10px;
}

.loginForm{
	background-color: #0183B3;
	padding: 30px 50px;
	max-height: 100%;
}
.loginForm .form{
	width: 30%;
	margin: 20px;
	background-color: #DDDDDD;
	padding: 30px;
	border:1px solid #FFFFFF; 
	box-shadow: 3px 3px 20px #646464;
	border-radius: 15px;
	float: left;
}
.loginForm .form h2{
	color: #3C3C3C;
	padding-bottom: 15px;
	text-align: center;
}
.input-container {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}

.icon {
    padding: 3px;
    background: #0183B3;
    color: white;
    min-width: 50px;
    text-align: center;
}
.icon img{
    width: 70%;
}

.input-field {
    width: 100%;
    padding: 10px;
    outline: none;
    border: 2px solid #C5C5C5; 
}

.input-field:focus {
    border: 2px solid #0183B3;
}

/* Set a style for the submit button */
.btn {
    background-color:#0183B3;
    color: white;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    font-size: 15px;
    font-weight: bold;
    border-radius: 5px;
}

.btn:hover {
    opacity: 1;
}

.candidate-details{
	width: 30%;
	margin: 20px;
	background-color: #DDDDDD;
	border:1px solid #FFFFFF; 
	box-shadow: 3px 3px 20px #646464;
	border-radius: 15px;
	float: right;
	padding: 80px 30px;
}


.candidate-details>h2{
	color: #111111;
	margin: 14px 0px;
	font-size: 30px;
}

.loginForm h1{
	color: #FFFFFF;
	text-align: center;
}
.bigfont{
	font-size: 150px;
}
/*===============================
		INSTRUCTION SECTION
=================================*/
.instruction{
	position: relative;
	color: #313131;
}
/*=== .main-instrc SECTION ===*/
.instruction .main-instrc{
	width: 80%;
	max-height: 80%;
	position: fixed;
	overflow: auto;
	background-color: #F2F2F2;
	padding: 30px 10px 200px 10px;
	left: 0;
	font-size: 14px;
}
.instruction .main-intro{
	width: 80%;
	max-height: 100%;
	position: fixed;
	overflow: auto;
	background-color: #F2F2F2;
	padding: 30px 10px 200px 10px;
	left: 0;
	text-align: justify;
	font-size: 14px;
}
.instruction .main-instrc .durationNmarks{
	font-weight: bold;
	margin: 10px 0px;
}
.instruction>.main-instrc>ul,.instruction .main-intro ul{
	margin-left: 20px;
}
.instruction>.main-instrc>ul li,.instruction .main-intro ul li{
	list-style: decimal !important;
	margin-left: 10px;
}
.instruction>.main-instrc>ul li:before,.instruction .main-intro ul li:before{
	content: ')';
	margin-right: 5px;
	font-weight: bold;
	color: #525252;
}

.instruction .main-instrc .pding-tb i{
	width: 90%;
	display: inline-block;
}
.instruction .main-instrc .pding-tb span{
	width: 20px;
	display: inline-block;
	text-align: center;
}
.instruction .main-instrc .pding-tb .bg-red{
	background-color: #F30404;
	color: #F30404;
}
.instruction .main-instrc .pding-tb .bg-green{
	background-color: #02C610;
	color: #02C610;
}
.instruction .main-instrc .pding-tb .bg-yellow{
	background-color: #D4EC06;
	color: #D4EC06;
}
.instruction .main-instrc .pding-tb .bg-defult{
	background-color: #D4D4D4;
	color: #D4D4D4;
}
.instruction .main-instrc .pding-tb .bg-blue{
	background-color: #0A37B6;
	color: #0A37B6;
}

.foo{
	width: 80%;
	height: auto;
	position: fixed;
	bottom: 0;
	background-color: #E1E1E1;
	padding: 10px;
	font-size: 13px;
	font-weight: bold;
	border-top: 1px solid #9F9F9F;
}
.foo input{
	margin-right: 5px;
}
.foo .goback{
	display: inline-block;
	padding: 10px 15px;
	color: #00B8ED;
}
.foo .goback:hover{
	text-decoration: underline;
	color: #00B8ED;
}
.foo .read{
	display: inline-block;
	padding: 10px 15px;
	color: #00B8ED;
	background-color: #CACB6A;
	color: #474747;
	border-radius: 5px;
}
.foo .read:hover{
	background-color: #C9CB2C;
	color: #2E2E2E;
}

.foo .nxt{
	padding: 10px 20px;
	background-color: #04C3E6;
	color: #F4F4F4;
	border-radius: 5px;
	border:1px solid #989898;
	cursor: pointer;
	margin-left: 85%;
}
.foo .nxt:hover{
	background-color: #038AA3;

}


/*.foo .read{
	width: 100%;
	height: auto;
	position: absolute;
	bottom: 0;
	background-color: #E1E1E1;
	padding: 10px;
	font-size: 13px;
	font-weight: bold;
	box-shadow: 0px 0px 5px #929292;
}*/

.instruction .right-pnl{
	width: 20%;
	min-height: 100%;
	position: fixed;
	right: 0;
	padding: 10px;
	background-color: #DEF5F4;
	border-left: 1px solid #AEAEAE;

}
.instruction .right-pnl .imgs{
	width: 70%;
	margin: 5px auto;
}
.instruction .right-pnl .imgs img{
	width: 45%;
}

/*======================
		.qsn-sec
=======================*/
.qsn-sec{
	padding: 0px 15px;
	width: 100%;
	background-color: #0183B3;
}
.qsn-sec .left{
	padding: 10px 10px;
	color: #F2F2F2;
	font-size: 15px;
	cursor: pointer;
}
.qsn-sec .left:hover{
	background-color: #0277A2;
}
.qsn-sec .left:hover .submenu{
	display: block;
}
.qsn-sec .left .submenu{
	padding: 10px;
	box-shadow: 0px 0px 10px #1D1D1D;
	display: none;
	position: absolute;
	z-index: 20;
	background-color: #F5F5F5;
	border-radius: 5px;
	min-width: 250px;
	border: 1px solid #FFFFFF;
	margin-top: 10px;
}
.qsn-sec .left .submenu li,.qsn-sec .left .submenu h5{
	color: #343434;
}
.qsn-sec .left .submenu h5{
	padding-bottom: 5px;
}
.qsn-sec .left .submenu .pding-tb i{
	width: 90%;
	display: inline-block;
}
.qsn-sec .left .submenu .pding-tb span{
	width: 10%;
	display: inline-block;
	text-align: center;
}
.qsn-sec .left .submenu .pding-tb .bg-red{
	background-color: #F30404;
}
.qsn-sec .left .submenu .pding-tb .bg-green{
	background-color: #02C610;
}
.qsn-sec .left .submenu .pding-tb .bg-yellow{
	background-color: #D4EC06;
}
.qsn-sec .left .submenu .pding-tb .bg-blue{
	background-color: #4B03DD;
}

/*======================
	student info
======================*/
.studentInfo{
	padding: 10px 15px;
	width: 100%;
	background-color: #767676;
}
.studentInfo .left{
	padding: 0px 15px;
	color: #F2F2F2;
	font-size: 15px;
}
.studentInfo .select{
	background-color: #F5F5F5;
	padding: 2px 10px;
	border: 2px solid #676767;
	color: #202020;
	border-radius: 5px;
}
.select{
	background-color: #F5F5F5;
	padding: 2px 10px;
	border: 2px solid #676767;
	color: #202020;
	border-radius: 5px;
}
/*======================
 	qsn-No 
 ======================*/
.qsn-No{
	padding: 0px 15px;
	width: 100%;
	background-color: #E9E9E9;
	border-bottom: 1px solid #B3B3B3;
	font-size: 15px;
	color: #373737;
}
.qsn-No .qsn{
	width: 33.33333333333333%;
	float: left;

}
.qsn-No .qsn h3{
	font-size: 15px;
	line-height: 40px;
}
.qsn-No .font-size{
	width: 33.33333333333333%;
	float: left;
	text-align: center;
	
}
.qsn-No .font-size .link{
	width: 35px;
	height: 35px;
	display: inline-block;
	line-height: 35px;
	text-align: center;
	border: 1px solid #464646;
	font-weight: bolder;
	border-radius: 50%;
}
.qsn-No .marksNtime{
	width: 33.33333333333333%;
	float: left;
}
.qsn-No .marksNtime ul{
	color: #373737;
}
.qsn-No .marksNtime ul li{
	float: left;
	margin: 5px 10px;
}
.qsn-No .marksNtime ul li .marks-ngtv,
.qsn-No .marksNtime ul li .marks-pls{
	display: inline-block;
	border-radius: 30px;
	padding: 5px 15px;
	font-weight: bold;
	color: #EFEFEF;
}
.qsn-No .marksNtime ul li .marks-ngtv{
	background-color: #F30404;
}
.qsn-No .marksNtime ul li .marks-pls{
	background-color: #02C610;
}

/*======================
	.qsn-paper
======================*/

.qsn-sheet{
	padding: 20px 15px;
	overflow: auto;
	max-height: 500px;
	position: relative;
}
.qsn-sheet p{
	padding: 10px 0px;
}
.qsn-sheet .radio,
.qsn-sheet .checkBox{
	margin-left: 20px;
}
.qsn-sheet .radio .pding-tb,
.qsn-sheet .checkBox .pding-tb{
	margin-right: 10px;
	display: block;
}
.qsn-sheet .radio .pding-tb input[type="radio"],
.qsn-sheet .checkBox .pding-tb input[type="checkbox"]{
	margin-right: 20px;
}
.qsn-sheet .checkBox{
	margin-top: 10px;
}
/*=== SUBJECTIVE SECTION ===*/
.qsn-sheet .subjective{
	margin-top: 10px;
}
.qsn-sheet .subjective .form{
	width: 20%;
	margin: 0px auto;
	background-color: #DDDDDD;
	//border-radius: 3px;
	box-shadow: 0px 0px 15px #707070;

}
.qsn-sheet .subjective .form .input{
	width: 100%;
	display: block;
	margin: 3px auto;
	font-size: 16px;
	font-weight: bold;
	padding:15px 8px;
	box-shadow: inset 0px 0px 2px #727272;
	background-color: #F4F4F4;
}
.qsn-sheet .subjective .form .btn-group{
	width: 100%;
	//margin: 3px auto;
	//padding: 0px 10px;
}
.qsn-sheet .subjective .form .btn,
.qsn-sheet .subjective .form .btn-clear,
.qsn-sheet .subjective .form .btn-backspace{
	font-size: 16px;
	padding:10px 5px;
	margin: 1px;
	border-radius: 2px;
	border: 1px solid #C9C9C9;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
}
.qsn-sheet .subjective .form .btn{
	width: 32.33%;
	height: 70px;
	background-color: #FAFAFA;
	color: #393939;
	display: block;
	//margin: 5px;
	//box-shadow: inset 0px 0px 5px #727272;
}
.qsn-sheet .subjective .form .btn:hover{
	background-color: #DEDEDE;
	color: #393939;
	box-shadow: inset 0px 0px 7px #2E2E2E;
}
.qsn-sheet .subjective .form .btn-clear{
	background-color: #EC0324;
	color: #FFFFFF;
}
.qsn-sheet .subjective .form .btn-clear:hover{
	background-color: #CB011E;
	color: #C9C9C9;
	box-shadow: inset 0px 0px 7px #2E2E2E;
}

.qsn-sheet .subjective .form .btn-backspace{
	background-color: #D9A506;
	color: #FFFFFF;
}
.qsn-sheet .subjective .form .btn-backspace:hover{
	background-color: #C59605;
	color: #C9C9C9;
	box-shadow: inset 0px 0px 7px #2E2E2E;
}
.click{
	background-color: #C63333;
	width: 50px;
	height: 30px;
	border-radius: 5px;
	line-height: 30px;
	text-align: center;
	position: fixed;
	color: #F8F8F8;
	font-weight: bolder;
	right: -10px;
	top: 50%;
	cursor: pointer;
	z-index: 5000;
	margin-right: 0;
	transform: rotate(90deg);
}
/*==============================
	toggel-right-sid SECTION
================================*/
.right-sid{
	width: 0px;
	height: 100%;
	position: fixed;
	right: 0px;
	top: 0px;

	z-index: 1000;
	background-color: #DEF5F4;
	border-left: 1px solid #ABABAB;
}
.img-thubm{
	width: 48%;
	height: auto;
	margin: 5px auto;
	border: 1px solid #DDDDDD;
	padding: 3px;
	float: left;
	margin: 1%;
}

.img-thubm img{ 
	width: 100%;
}

.right-sid .instructions{
	padding: 5px;
	//border: 1px solid #AEAEAE;
}
.right-sid .instructions ul li{
	float: left;
	padding: 2px;
	font-size: 12px;
}
.right-sid .instructions ul li .attmp,
.right-sid .instructions ul li .tagged,
.right-sid .instructions ul li .att-tged,
.right-sid .instructions ul li .un-attmp{
	display: inline-block;
	height:20px;
	text-align: center;
	line-height: 20px;
	margin-right: 5px;
	padding: 0px 5px;
	
}
.right-sid .instructions ul li .attmp{
	background-color: #02C610;
}
.right-sid .instructions ul li .tagged{
	background-color: #D4EC06;
}
.right-sid .instructions ul li .att-tged{
	background-color: #4D1D96;
	color: #FDFDFD;
}
.right-sid .instructions ul li .un-attmp{
	background-color: #F5F5F5;
}

/*== QUESTION SECTION PANEL ==*/
.right-sid .section-pnl{
	height: 30px;
	background-color: #8AE3FC;
	font-size: 14px;
	color: #363636;
	overflow: hidden;
	line-height: 30px;
	padding: 0px 5px;
}

/*== QUESTION No. PANEL ==*/
.right-sid .questioNo{
	padding: 5px 25px;
	width: 100%;
	max-height: 60%;
	position:absolute;
	overflow: auto;
	padding-bottom: 300px;
}
.right-sid .questioNo .qsn-btn{
	width: 40px;
	height: 30px;
	float: left;
	margin: 1px;
	text-align: center;
	line-height: 30px;
	background-color: #F4F4F4;
	font-size: 14px;
	color: #363636;
	cursor: pointer;
}
.right-sid .questioNo .activ{
	background-color: #D0D0D0;
	color: #363636;
	border-radius: 10px;
	cursor: pointer;
}
.right-sid .questioNo .tagg{
	background-color: #D4EC06;
	color: #363636;
	cursor: pointer;
}
.right-sid .questioNo .activ-tagg{
	background-color: #D4EC06;
	color: #363636;
	border-radius: 10px;
	cursor: pointer;
}

.right-sid .button-panel{
	padding: 2% 3%; 
	border-top: 1px solid #E4E4E4;
	box-shadow: 0px 0px 5px #333333;
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: #CBF7F2;
}
.right-sid .button-panel .btn-Qsn-ppr,.right-sid .button-panel .btn-instruction{
	background-color: #6ED7E7;
	border-radius: 10px;
	padding: 3% 0%;
	display: inline-block;
	width: 49%;
	text-align: center;
	color: #434343;
	font-weight: bold;
	font-size: 13px;
	margin-top: 2%;
	cursor: pointer;
}
.right-sid .button-panel .btn-Qsn-ppr:hover,.right-sid .button-panel .btn-instruction:hover{
	background-color: #33B2C5;
	color: #303030;
}
.right-sid .button-panel .btn-submit{
	background-color: #48B22B;
	border-radius: 10px;
	padding: 3% 0%;
	display: inline-block;
	width: 100%;
	text-align: center;
	color: #434343;
	font-weight: bold;
	font-size: 13px;
	margin-top: 2%;
	cursor: pointer;
}
.right-sid .button-panel .btn-submit:hover{
	background-color: #268B0A;
	color: #EDEDED;
}
/*======================
	.footer SECTION
======================*/
.footer{
	padding: 10px 15px;
	width: 100%;
	position: fixed;
	bottom: 0px;
	background-color: #E9E9E9;
	border-top: 1px solid #B3B3B3;
}

.footer .pre-nxt,
.footer .de-Tag, 
.footer .erase, 
.instruction .main-instrc .pre-nxt,
.instruction .main-instrc .de-Tag,
.instruction .main-instrc .erase{
	display: inline-block;
	color: #F6F6F6;
	padding: 0.8% 1.5%;
	border-radius: 10px;
	margin: 0px 0.5%;
	border: 1px solid #FFFFFF;
	box-shadow: 0px 0px 5px #000000;
}
.footer .pre-nxt,
.instruction .main-instrc .pre-nxt{
	background-color: #0183B3;
}
.footer .pre-nxt:hover,
.instruction .main-instrc .pre-nxt:hover{
	background-color: #006A91;
	color: #C6C6C6;
	box-shadow:inset 0px 0px 5px #FFFFFF;
}
.footer .de-Tag{
	background-color: #D6BB02;
	margin:0% 10%;
}
.instruction .main-instrc .de-Tag{
	background-color: #D6BB02;
	margin:0%;
}
.footer .de-Tag:hover,.instruction .main-instrc .de-Tag:hover{
	background-color: #A28E02;
	color: #C6C6C6;
}
.footer .erase,.instruction .main-instrc .erase{
	background-color: #EC0324;
}
.footer .erase:hover,.instruction .main-instrc .erase:hover{
	background-color: #BD011C;
	color: #C6C6C6;
}

/*======================================
========================================*/
#right-panel{
	width: 20%;
}
#clk, .main
{
	margin-right: 20%;
}

/*==============================
	QUESTION PAPER POPUP
================================*/

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 99999; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: 0px auto;
    padding: 20px;
    border: 1px solid #888;
    width: 70%;
    top: 30px;
    left: 15%;
    margin:50px auto !important;
    position: absolute;

}

/* The Close Button */
#close, #close1 {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}