*{
	margin: 0px;
	padding:0px;
	border: none;
	outline: none;
	text-decoration: none;
	box-sizing: border-box;
	list-style-type: none;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.left{float: left;}
.right{float: right;}
.clearfix{display: block; clear: both;}
.pding-tb{padding: 5px 0px;}
.header-bg{background-color: #FFFFFF;}
.body-bg{background-color: #129AC1;}
.box-shadow{box-shadow:0px 0px 5px #656565;}
.text-center{text-align: center;}
.text-right{text-align: right;}
.border-btm{border-bottom: 1px solid #B4B4B4;}
.m-all{margin: 5px;}
.mt{margin-top: 2px;}
.mr{margin-right: 2px;}
.mb{margin-bottom: 2px;}
.ml{margin-left: 2px;}
.p-all{padding: 5px;}
.pt{padding-top: 2px;}
.pr{padding-right: 2px;}
.pb{padding-bottom: 2px;}
.pl{padding-left: 2px;}
.tl{text-align: left;}
.tr{text-align: right;}
.tc{text-align: center;}
.row{
	display: table;
	width: 100%;
	clear: both;
	overflow: auto;
	//box-shadow: 0px 5px 5px rgba(0,0,0,0.5);
}
.col{
	width: 33.33333333333333%;
	display: table-cell;
	overflow: auto;
	vertical-align: middle;
}

/*=============================
		TOP HEADER SECTION
===============================*/
.hdr-bg{
	background-color: #FDFDFD;
	border-bottom: 2px solid #9D9D9D;
	}
.hdr-bg img{
  	width: 90%;
  }
 /*======================
 		BODY SECTION
========================*/
.candidate-img,.login-form,.candidate-name{
	//display: table-cell;
	padding: 5px;
	text-align: center;
	width: 100%;
	vertical-align: middle;
}
.candidate-img{
	background-color: #E8E8E8;
}
.candidate-img img{
width: 40%;
border: 1px solid #666666;
}
.login-form{
background-color: #C5C5C5;
vertical-align: middle;
}
.login-form h2{
text-align: center;
color: #2C2C2C;
margin-bottom: 5px;
}
.form{
	width: 100%;
}
.login-form input{
	padding: 8px 20px;
	border-radius: 5px;
	border: 1px solid #E2E2E2;
	margin: 5px auto;
	width: 80%;
	font-size: 15px;
}
.login-form .btn{
	padding: 8px 20px;
	border-radius: 5px;
	border: 1px solid #E2E2E2;
	margin: 10px auto;
	width: 80%;
	background-color: #049CB8;
	font-weight: bolder;
	color: #FFFFFF;
	font-size: 18px;
	cursor: pointer;
}
.login-form .btn:hover{
	background-color: #01839B;
}
.candidate-name{
	background-color: #E8E8E8;
	vertical-align: middle;
	padding: 10%;
}
.candidate-name h2{
	text-align: left;
	vertical-align: middle;
	color: #3C3C3C;
}
.sheet-allow{
		text-align: center;
		color: #FFFFFF;
		padding: 10%;
}
.big-font{
	font-size: 30px;
}

/*====================================
		( @MEDIA QUERY SCREEN 500px )
======================================*/
@media screen and (min-width: 500px) {
   /*=============================
		TOP HEADER SECTION
	===============================*/
   

  /*======================
 		BODY SECTION
	========================*/
	.candidate-img,.login-form,.candidate-name{
	display: table-cell;
	padding: 15px;
	width: 33.33%;
	}
	
	.candidate-img img{
	width: 100%;
	}
	
	.login-form h2{
	text-align: center;
	color: #2C2C2C;
	margin-bottom: 5px;
	}
	.login-form input{
		margin: 5px auto;
		width: 100%;
		font-size: 12px;
	}
	.login-form .btn{
		width: 100%;
		font-size: 13px;
	}
	.candidate-name h2{
		vertical-align: middle;
		font-size: 13px;
	}
	.sheet-allow{
		text-align: center;
		color: #FFFFFF;
		//margin-top: 40px;
	}

}/*(end media query screen 600px)*/


@media screen and (min-width: 700px) {
	/*=============================
		TOP HEADER SECTION
	===============================*/
	.hdr-bg img{
  	width: 70%;
    }


	/*======================
 		BODY SECTION
	========================*/
	.candidate-img img{
	width: 45%;
	}
	.login-form input{
		margin: 5px auto;
		width: 100%;
		font-size: 12px;
	}
	.login-form .btn{
		width: 100%;
		font-size: 13px;
	}
	.candidate-name h2{
		font-size: 18px;
	}

}/*(end media query screen 700px)*/


@media screen and (min-width: 900px) {
	/*=============================
		TOP HEADER SECTION
	===============================*/
	.hdr-bg img{
  	width: 50%;
    }


	/*======================
 		BODY SECTION
	========================*/
	.candidate-img img{
	width: 45%;
	}
	.login-form input{
		margin: 5px auto;
		width: 80%;
		font-size: 15px;
		padding: 15px 20px;
	}
	.login-form .btn{
		width: 80%;
		font-size: 18px;
		padding: 15px 20px;
	}
	.candidate-name h2{
		font-size: 30px;
	}
	.big-font{
	font-size: 100px;
}

}/*(end media query screen 900px)*/